body{
    font-family: Arial, Verdana;
    color:#ffffff;
    background-color: #000000;
    margin: 20px 20px 0px;
}
h1{
    text-align: center;
    font-size: 42px;
    padding: 15px;
}
h2{
    font-size: 30px;
    color: #0D0D0D
}
p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}
img{
    display:block;
    margin:auto;
    width:50%;
    width: 250px;
    border: 10px #ffffff dashed;
}
div{
    height: 125px;
    padding: 20px;
    border: 3px #ffffff solid;
}
.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2.0;
}
.red{
    height: 125px;
    background-color: #ff0000; 
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 2px 5px;
}
.blue{
    height: 125px;
    background-color: #0000ff;
    color:#C4C4C4;
    text-align: left;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;
}
.blue h2{
    color:#C4C4C4;
}
.yellow{
    height: 125px;
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 2px 5px;
}
.yellow p{color: #707070;}

.green{
    height: 125px;
    background-color:#008500;
    text-align: left;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;
}
footer{
background: #000000;
background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 255, 1) 25%, rgba(0, 102, 255, 1) 70%, rgba(0, 0, 0, 1) 100%);border-width: 5px;
border-style: solid;
border-color: #ffffff;
}
footer p{
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0px;
}